<br>
<form action="/movies/update/{{movie._id}}" method="post"> 
    <label for="title-input">Title</label>
    <input type="text" name="updTitle" id="title-input" value="{{movie.title}}">

    <label for="genre-input">Genre</label>
    <input type="text" name="updGenre" id="genre-input" value="{{movie.genre}}">

    <label for="plot-input">Plot</label>
    <input type="text" name="updPlot" id="plot-input" value="{{movie.plot}}">

    <hr>
    <label>Cast:</label>
    <br>
   
    {{#each cast}}
      {{#if this.yes}} 
         <label><input type="checkbox" name="udCast" value="{{this._id}}">{{this.name}}</label>
      {{/if}}

    {{/each}}  
    </select>
    <br>

    <button type="submit">Save changes</button>

</form>

